// PORTFOLIO
$primary-colour: #00beff;
$selection-colour: #1a81b0;
$body-background-colour: #ddd;
$tag-colour: $primary-colour;

// ADMIN
$admin-primary-colour: $primary-colour;
$admin-dark-colour: #24303f;
$admin-light-colour: #d1e2f1;
$admin-danger-colour: #cc4218;
