<div class="container-fluid">
  <div class="row mb-4">
    <!-- Projects -->
    <div class="col-lg-8">
      <div class="card p-3">
        <app-admin-project-list [limit]="3"></app-admin-project-list>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card p-3 d-flex justify-content-center align-items-center" style="min-height:100%">
        <i class="small">&hellip;</i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card p-3 d-flex justify-content-center align-items-center" style="height:200px">
        <i class="small">&hellip;</i>
      </div>
    </div>
  </div>
</div>
