<div class="container-fluid">
  <div *ngIf="project; else noProject" class="project row">
    <div class="project-image-container col-md-4 col-lg-4 col-xl-3 offset-lg-1 offset-xl-2">
      <ng-container *ngIf="project.images && project.images.length > 0; else noImages">
        <img class="project-image" [src]="project.images[selectedImageIndex] || project.images[0]" draggable="false" />
        <div class="project-additional-images" *ngIf="project.images.length > 1">
          <img
            *ngFor="let image of project.images; let i = index"
            (click)="selectImage(i)"
            [src]="project.images[i]"
            [ngClass]="{ active: i === selectedImageIndex }"
            draggable="false"
          />
          <div class="fill"></div>
        </div>
      </ng-container>
      <ng-template #noImages>
        <img class="project-image" src="./assets/images/placeholder.jpg" draggable="false" />
      </ng-template>
    </div>

    <div class="project-content col-md-8 col-lg-6 col-xl-5 text-left">
      <div class="project-body">
        <h2 class="project-title">
          {{ project.title }}
          <a *ngIf="project.url" [href]="project.url" target="_blank" class="text-primary">
            <span class="far fa-chevron-circle-right mt-2"></span>
          </a>
        </h2>
        <p class="project-description">{{ project.description }}</p>
        <p>
          <a *ngIf="project.url" [href]="project.url" target="_blank" class="text-primary font-weight-bold">
            <em>Visit site</em>
            <span class="far fa-chevron-circle-right ml-1"></span>
          </a>
        </p>
      </div>
      <div class="project-footer">
        <p class="project-date mb-1">
          <i>Date: {{ project.date }}</i>
        </p>
        <app-project-tags [tags]="project.tags"></app-project-tags>
      </div>
    </div>
  </div>
</div>

<ng-template #noProject>
  <div class="text-center my-4">
    <app-loading-spinner></app-loading-spinner>
    <p class="mt-3">
      <em>Project not found&hellip;</em>
    </p>
  </div>
</ng-template>
