@import '~src/sass/variables';

.project-tag {
  display: inline-block;
  background-color: adjust-color($color: $tag-colour, $saturation: -10%, $lightness: 10%);
  color: white;
  opacity: .6;
  transition: .1s all;
  border-radius: 4px;
  padding: 1px 6px;
  margin: 1px 0;
  line-height: 1.4em;
  text-decoration: none !important;

  &:hover {
    background-color: $tag-colour;
    opacity: 1;
  }
}
