@import './src/sass/variables';

.project-tag {
  display: inline-block;
  background-color: adjust-color($color: $tag-colour, $saturation: -10%, $lightness: 10%, $alpha: -0.5);
  color: adjust-color($color: $tag-colour, $saturation: -20%, $lightness: 35%);
  transition: 0.1s background-color, 0.1s color;
  border-radius: 4px;
  padding: 1px 6px;
  margin: 1px 0;
  line-height: 1.4em;
  text-decoration: none !important;

  &:hover {
    background-color: $tag-colour;
    color: white;
  }
}
