<div class="row mt-4 mb-5">
  <div class="col-lg-2">
    <ng-container *ngIf="image$ | async as imageUrl; else noImages">
      <img class="project-image" [src]="imageUrl" draggable="false" />
    </ng-container>
    <ng-template #noImages>
      <img class="project-image" src="./assets/images/placeholder.jpg" draggable="false" />
    </ng-template>
  </div>

  <div class="col-lg-7">
    <h5>{{ project.title }}</h5>
    <div class="mb-2">
      <b>Description:</b>
      <div class="small">{{ shortDescription }}</div>
    </div>
    <div>
      <b>Date:</b>&nbsp;<i *ngIf="!!project.date; else noData">{{ project.date }}</i>
    </div>
    <div>
      <b>Tags:</b>&nbsp;<i *ngIf="!!project.tags && project.tags.length; else noData">{{ project.tags.join(', ') }}</i>
    </div>
  </div>

  <div class="col-lg-3 d-flex justify-content-center align-items-center">
    <div class="btn-group-vertical">
      <a class="btn btn-admin-light" [routerLink]="['/projects', project.slug]">View <i class="fas fa-eye ml-1"></i></a>
      <a class="btn btn-admin-primary" [routerLink]="['edit', project.slug]">Edit<i class="fal fa-pencil ml-1"></i></a>
      <a class="btn btn-admin-danger" (click)="deleteProject(project)">Delete<i class="fal fa-trash-alt ml-1"></i></a>
    </div>
  </div>
</div>

<hr />

<ng-template #noData><i>none</i></ng-template>
