.card {
  width: 100%;
  max-width: 400px;
  margin: calc(50px + 20vh) auto;
  background-color: #f8f8f8;
}

#google-signin {width: 100%;
  width: 100%;
  max-width: 191px;
  height: auto;
  cursor: pointer;
}
