<section id="about">
  <div class="container">
    <h1 class="section-heading">About Me</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris euismod cursus dui, ut pharetra massa. Aliquam ex
      neque, bibendum id nisl quis, convallis porttitor nisl. Integer ultricies accumsan lacinia. Curabitur sed sapien non
      neque convallis posuere nec at ligula. In vel quam arcu. Mauris sit amet tellus augue. Nulla porta tincidunt
      maximus. Suspendisse aliquam vestibulum facilisis. Donec ac purus iaculis, pretium elit vitae, malesuada quam.
    </p>
    <p>
      Mauris venenatis lacinia augue. Cras fringilla condimentum viverra. Phasellus malesuada blandit sem ut consequat.
      Morbi venenatis, lacus a eleifend tempor, justo urna suscipit ligula, eu sollicitudin tellus augue aliquet erat.
      Aenean sed leo vitae nibh pharetra rhoncus. Ut tristique, lorem at laoreet pellentesque, odio metus malesuada dolor,
      eget elementum felis nunc vel neque. Maecenas venenatis sollicitudin ligula, eu rhoncus quam rhoncus vitae. Ut
      feugiat eros vel mi auctor, at finibus dolor semper. Fusce ac congue sem, in molestie nunc.
    </p>
  </div>
</section>
