@import '~src/sass/variables';

$header-height: 50px;
$header-margin-bottom: 16px;

$main-padding-y: 24px;
$main-padding-x: 24px;
$main-bottom-padding: 24px;

#sidebar {
  flex: 0 0 300px;
  user-select: none;
  background-color: lighten($color: $admin-dark-colour, $amount: 10%);
}

#main {
  flex: 1 1 auto;
  max-width: 100vw;
  padding: 12px;

  @media (min-width: 768px) {
    max-width: calc(100vw - 300px);
    padding: $main-padding-y $main-padding-x $main-padding-y $main-padding-x;

    .header {
      height: $header-height;
      margin-bottom: $header-margin-bottom;
      overflow: hidden;
    }

    .content {
      max-height: calc(100vh - #{2 * $main-padding-y} - #{$header-height} - #{$header-margin-bottom});
      overflow-y: auto;
    }
  }
}

.nav-link:hover {
  background-color: #ffffff09;
  color: $admin-light-colour;
}
